doctype html 
head 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="shortcut icon" href="#")
    title 
body
    .wrapper 
        section#logout
            .header
                h1 Dashboard page
                .controls
                    button(id="logout_btn") Logout 
                    button(id="switch_user_btn") Switch User
                    button(id="get_all_flights") Get all flights
            .content 
                h2 Your Flights:
                table(id="user_flights")
                    thead 
                        tr 
                            th FLIGHT
                            th AIRWAYS
                            th TIME
                            th DEPARTURE
                            th TIME
                            th DESTINATION 
                    tbody
                        each flight in customerFlights
                            tr(id=`row-${flight.id}`)
                                td= flight.departure_time
                                td= flight.departure
                                td= flight.destination
                                td= flight.flight
                                td= flight.gate
                                td= flight.status
                                h2 Your Flights:

                h2 All the flights:
                table(id="all_flights")
                    thead 
                        tr 
                            th DEPARTURE
                            th TIME
                            th DESTINATION 
                            th TIME
                            th FLIGHT 
                            th PRICE 
                            th TICKETS REMAINED 
                    tbody

                span pages: 
                br
                span prev 1 2 3 4 5 6 next
script
    include ./includes/js/dashboard.js

style.
    #wrapper{
        width: 100vw;
        height: 100vh;
    }

    #header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    table{
        border-collapse: collapse;
    }
    td,th{
        border: 1px solid black;
        padding: 10px;
    }