doctype html 
head 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="shortcut icon" href="#")
    title 
body
    .wrapper 
        section#logout
            .header
                h1 Dashboard page
                .controls
                    button(id="logout_btn") Logout 
                    button(id="switch_user_btn") Switch User
                    button(id="get_all_flights") Get all flights
            .content 
                h2 Your Flights:
                table
                    thead 
                        tr 
                            th FLIGHT
                            th AIRWAYS
                            th TIME
                            th DEPARTURE
                            th TIME
                            th DESTINATION 
                    tbody(id="user_flights")
                        each flight in customerFlights
                            tr(id=`row-${flight.id}`)
                                td= flight.id
                                td= flight.airline
                                td= flight.departure_time
                                td= flight.origin_country
                                td= flight.landing_time
                                td= flight.destination_country


                h2 All the flights:
                table
                    thead 
                        tr 
                            th FLIGHT 
                            th AIRLINE
                            th DEPARTURE
                            th TIME
                            th DESTINATION 
                            th TIME
                            th TICKETS REMAINED 
                    tbody(id="all_flights")


                .pagination


style
    include ./includes/style/dashboard.css

script
    include ./includes/js/dashboard.js